.searchbartext {
  font-family: 'SCDream4';
  font-size: 14px;
  color: #777;
  background-color: transparent;
  border-color: transparent;
  width: 336px;
}
.searchbartext:focus {
  outline: none;
  color: black;
}
