.searchbartext {
  font-family: 'SCDream4';
  font-size: clamp(12px, 0.88vw, 24px);
  color: #777;
  background-color: transparent;
  border-color: transparent;
  width: 336px;
}
.searchbartext:focus {
  outline: none;
  color: black;
  font-family: 'SCDream5';
}
