.logohomewrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}
.logohomecontainer {
  height: 280px;
  width: 280px;
  position: relative;
}